@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    background-color: white;
}

.icon {
    height: 60px;
    width: 60px;
}

button {
    background-color: rgb(147, 181, 221);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

#mainphoto   { 
    text-align: center;
}
#me {
    width: 20%;
    height: 1%;
}
#p {
    text-align: center;
    margin-top: 5px;
}
#headerr {
    text-align: center;
    color: black;
}
a:link, a:visited {
    background-color: rgb(147, 181, 221);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(255, 255, 255);
  }  

 
