body {
  background-color: #5680E9;
}

.navbar-inverse {
  background-color: #C1C8E4;
}

.container-fluid {
  background-color: #C1C8E4;
}

.align {
  margin-top: 4rem;
  text-align: center;
  background-color: #CAEBF2;
  margin-left: 18%;
  margin-right: 18%;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.ps {
  font-size: 36px;
}
.icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: 5rem;
}