body {
  background-color: #5680E9;
}

.navbar-inverse {
  background-color: #C1C8E4;
}

.container-fluid {
  background-color: #C1C8E4;
}

.align {
  text-align: center;
  background-color: #CAEBF2;
  margin-left: 18%;
  margin-right: 18%;
}

.myimg {
  margin-top: 5rem;
  
}

.ps {
  font-size: 36px;
}
.icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: 5rem;
}