body {
    background-color: #5680E9;
  }
  
  .navbar-inverse {
    background-color: #C1C8E4;
  }
  
  .container-fluid {
    background-color: #C1C8E4;
  }
  
  .banner {
    margin-top: 3rem;
    background-color: #CAEBF2;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }

  img {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 50%; 
    max-height: 50%;
  }

